<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>

  <div class="container">

  	<div class="row" style="padding: 10px ;margin-top: 50px">
        <div class="col s12">
          <div id="chat" style="float:left; width: 100%; height: 400px; background: #E8E8E8; margin: 10px 0; padding: 20px; color: #999"></div>
        </div>
        <div class="input-field col s12">
          <input id="mensagem" onkeydown="if (event.keyCode == 13) { enviar(); return false; }" type="text" class="validate">
          <label for="mensagem">Mensagem</label>
        </div>
    </div>

  </div>

  <script type="text/javascript" src="/public/js/jquery.min.js"></script>
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  <script type="text/javascript">
  var userip;
  </script>
  <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io.connect(window.location.hostname);
  socket.on('send-client', function (msg) {
  	document.getElementById('chat').innerHTML += msg;
  });
  var enviar = function() {
	  var nome = userip; 
	  var msg = document.getElementById('mensagem').value;
	  document.getElementById('mensagem').value = '';
	  socket.emit('send-server', {nome: nome, msg: msg});
  };
 </script>
</body>
</html>